<form method="post" action="/quizes/<%= quizid %>/comments" >     
	<fieldset>
		<legend>Añadir comentario</legend>
		<input type="text" id="comment" name="comment[texto]" value="" /> <p>
		<button type="submit">Enviar</button>
		<br/><br/>
	</fieldset>
</form>