    <h1>Créditos</h1>
    <div class="caja1">
		<img src="images/foto.jpg" width="100px" height="130px"/>
	</div>
	<div class="caja2">
		<p><h3>Andrea Gutiérrez Muñoz<br/></h3></p>
		<p><h4>Técnico superior informático</h4></p>
		<ul>
			<li>Desarrollo aplicaciones informaticas - años 2001-2003</li>
			<li>Desarrollo aplicaciones web - años 2013-2015</li>
			<li>Desarrollo apps con Android</li>
			<li>Creacion de sitios web con CMS Joomla - año 2012</li>
			<li>Creación y gestión de tiendas on-line con Prestashop - año 2013</li>
			<li>Formador ocupacional</li>
		</ul>
	</div>
  