* { margin: 0; padding: 0; }
body { font: 16px Georgia, serif, "Lucida Grande", Helvetica, Arial, sans-serif; }
form { width: 30%; }
a { color: #00B7FF; }
legend { text-align: left; color: green; font-style: bold; }
#page_wrap { margin: 2% auto; color: white; }
#page_wrap > .main { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }

section >div { padding: 20px; }
header, nav, section { background: #eee; text-align: center; }
footer { background: #efe; text-align: center; }
nav span { margin: 0px 10px 0px 0px; }

.caja1 { float: left; width: 25%; } 
.caja2 { float: right; width: 65%; text-align: left; line-height: 1.5; }

#btnCrear { float: left; }