* { margin: 0; padding: 0; }
body { font: 16px Georgia, serif, "Lucida Grande", Helvetica, Arial, sans-serif; }
form { width: 35%; }
form fieldset input[type='text'] { width: 80%; line-height: 1.6; }
a { color: #00B7FF; }
legend { text-align: left; color: green; font-style: bold; }
#page_wrap { margin: 2% auto; color: white; }
#page_wrap > .main { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }

section >div { padding: 20px; }
header, nav, section { background: #eee; text-align: center; }
footer { background: #efe; text-align: center; }
nav span { margin: 0px 10px 0px 0px; }
#ErrorMsgs { color: #f61; font-size: smaller; }
.right { float: right; }
.caja1 { float: left; width: 25%; } 
.caja2 { float: right; width: 65%; text-align: left; line-height: 1.5; }
.temacol { font-size: smaller; }
.stadist { text-align: left; line-height: 2;}
.stadist table, .stadist td{ border-collapse: collapse; border: 1px solid black; background-color: #efe; padding: 5px;}
.num { text-align: center;}
.field { text-align: left; width: 70%; padding: 10px; line-height: 1.5; }
.com { text-align: left; }
table button { font-size: medium; }
button { text-align: left; }
#btnCrear , #btnListar{ float: left; margin-left: 2%;}
