    <form method="get" action="/quizes/<%= quiz.id %>/answer">
		<fieldset>
			<legend>Contesta a la pregunta</legend>
			<br/>
			Pregunta: ¿ <%= quiz.pregunta %> ?<br/><br/>
			<input type="text" name="respuesta" placeholder="Responda aquí" />
			<input type="submit" value="Enviar" />
			<br/><br/>
		</fieldset>
	</form>
  